@if (TempData["NotifySuccess"] != null)
{
    <div id="successtoast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
        <div id="successtoast" class="toast show mx-auto bg-green border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header justify-content-between bg-green border-bottom-0">
                <div>
                    <i class="bi bi-check-circle pe-1"></i> <strong class="me-auto">Success</strong>
                </div>
                <button type="button" class="text-end border-0 bg-green fs-18 p-0 hover-opacity" data-bs-dismiss="toast" aria-label="Close">X</button>
            </div>
            <div class="toast-body bg-green border-0">
                @TempData["NotifySuccess"]
            </div>
        </div>
    </div>
}

@if (TempData["NotifyFailed"] != null)
{
    <div id="failedtoast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
        <div id="failedtoast" class="toast show mx-auto bg-red border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header justify-content-between bg-red border-bottom-0">
                <div>
                    <i class="bi bi-check-circle pe-1"></i> <strong class="me-auto">Oops! Something went wrong.</strong>
                </div>
                <button type="button" class="text-end border-0 bg-red fs-18 p-0 hover-opacity" data-bs-dismiss="toast" aria-label="Close">X</button>
            </div>
            <div class="toast-body bg-red border-0">
                @Html.Raw(TempData["NotifyFailed"])
            </div>
        </div>
    </div>
}

<div id="copiedToast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
    <div id="copiedToast" class="toast hide bg-green border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-green ">
            <div class="toast-body bg-green border-0">
            </div>
            <button type="button" class="me-2 m-auto border-0 bg-green fs-18 p-0 hover-opacity" data-bs-dismiss="toast" aria-label="Close">X</button>
        </div>
    </div>
</div>

<div id="notificationToast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
    <div id="notificationToast" class="toast hide bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-info">
            <div class="toast-body bg-info border-0">
            </div>
            <button type="button" class="me-2 m-auto border-0 bg-info fs-18 p-0 hover-opacity" data-bs-dismiss="toast" aria-label="Close">X</button>
        </div>
    </div>
</div>

<div id="ajaxSuccessToast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
    <div id="ajaxSuccessToast" class="toast hide bg-green border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-green">
            <div class="toast-body bg-green border-0">
            </div>
            <button type="button" class="me-2 m-auto border-0 bg-green fs-18 p-0 hover-opacity" data-bs-dismiss="toast" aria-label="Close">X</button>
        </div>
    </div>
</div>

<div id="ajaxFailedToast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
    <div id="ajaxFailedToast" class="toast hide bg-red border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-red">
            <div class="toast-body bg-red border-0">
            </div>
            <button type="button" class="me-2 m-auto border-0 bg-red fs-18 p-0 hover-opacity" data-bs-dismiss="toast" aria-label="Close">X</button>
        </div>
    </div>
</div>